# Split data for training, validation and test

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
titanic = pd.read_csv('titanic_cleaned.csv')
titanic.head()

   Survived  Pclass  Sex   Age     Fare  Family_cnt  Cabin_ind
0         0       3    0  22.0   7.2500           1          0
1         1       1    1  38.0  71.2833           1          1
2         1       3    1  26.0   7.9250           0          0
3         1       1    1  35.0  53.1000           1          1
4         0       3    0  35.0   8.0500           0          0

In [7]:
features = titanic.drop('Survived', axis=1)
labels = titanic['Survived']

X_train, X_test, y_train, y_test = train_test_split(features, labels, test_size=0.4, random_state=42)
X_test, X_val, y_test, y_val = train_test_split(X_test, y_test, test_size=0.5, random_state=42)

In [8]:
for dataset in [y_train, y_val, y_test]:
    print(round(len(dataset)/len(labels), 2))

0.6
0.2
0.2

In [9]:
X_train.to_csv('train_features.csv', index=False)
X_val.to_csv('val_features.csv', index=False)
X_test.to_csv('test_features.csv', index=False)

y_train.to_csv('train_labels.csv', index=False)
y_val.to_csv('val_labels.csv', index=False)
y_test.to_csv('test_labels.csv', index=False)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  import sys

In [10]:
X_train.describe()

           Pclass        Sex         Age        Fare  Family_cnt   Cabin_ind
count  534.000000  534.00000  534.000000  534.000000  534.000000  534.000000
mean     2.337079    0.35206   29.367464   32.712694    0.958801    0.228464
std      0.825628    0.47806   12.968266   53.870138    1.775957    0.420237
min      1.000000    0.00000    0.420000    0.000000    0.000000    0.000000
25%      2.000000    0.00000   22.000000    7.895800    0.000000    0.000000
50%      3.000000    0.00000   29.699118   14.454200    0.000000    0.000000
75%      3.000000    1.00000   34.000000   30.500000    1.000000    0.000000
max      3.000000    1.00000   80.000000  512.329200   10.000000    1.000000

In [11]:
y_train.describe()

count    534.000000
mean       0.376404
std        0.484938
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: Survived, dtype: float64